%li.menu#notifications
  = notifications_menu_link
  %ul.menu-dropdown
    = render user_notifications
    - if user_notifications.empty?
      %li.placeholder
        %a(href="javascript:;")= t ".placeholder"
