aside {
  float: right;
  clear: right;
  width: 340px;
  padding: 24px 20px;
  border-radius: 12px;
  background: #bfbb11 url(/assets/backgrounds/green-aside.png);
  font-size: 14px;
  margin-bottom: 24px;

  p {
    margin-top: 16px;
  }
}

.alternate {
  background: #fa4100 url(/assets/backgrounds/orange-aside.png);
  color: #fff;
}
