aside {
  float: right;
  width: 340px;
  padding: 24px 20px;
  border-radius: 12px;
  background: #bfbb11 url(/assets/backgrounds/green-aside.png);
  font-size: 14px;

  p {
    margin-top: 16px;
  }
}
