.attendance {
  float: left;
  list-style-type: none;
  text-align: center;
  font-size: 13px;
  height: 90px;
  width: 64px;
  line-height: 16px;
  margin-right: 4px;
  overflow: hidden;

  .avatar {
    display: block;
    margin-left: 6px;
    margin-bottom: 5px;
  }
}

#management .attendance {
  float: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 48px;
  text-align: left;
  font-size: 16px;

  .name {
    position: relative;
    bottom: 12px;
  }

  .avatar {
    display: inline;
    width: 32px;
    height: 32px;
  }

  .attendance_actions {
    margin-top: 6px;
    float: right;
  }

  &:last-child {
    border-bottom: none;
  }
}
