.attendance {
  float: left;
  list-style-type: none;
  text-align: center;
  font-size: 13px;
  height: 90px;
  width: 64px;
  line-height: 16px;

  .avatar {
    display: block;
    margin-left: 6px;
    margin-bottom: 5px;
  }
}
