#new_comment {
  padding: 0 10px 0 0;
    margin-bottom: 24px;

  textarea {
    width: 100%;
  }
}

#comments {
  ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }

  .comment {
    margin-bottom: 12px;

    address {
      font-style: normal;
      font-size: 13px;
      color: #999;
      padding: 0 4px 3px;
      margin: 0;
    }

    address span {
      font-size: 14px;
      font-weight: bold;
      color: #000;
    }

    .text {
      position: relative;
      background-color: #eee;
      border-color: #ddd;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
