#new_comment {
  padding: 0 10px 0 0;
    margin-bottom: 24px;

  textarea {
    width: 100%;
  }
}

#comments {
  ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }

  .comment {
    margin-bottom: 12px;

    address {
      font-style: normal;
      font-size: 13px;
      color: #999;
      padding: 0 4px 3px;
      margin: 0;
    }

    address span {
      font-size: 14px;
      font-weight: bold;
      color: #000;
    }

    .text {
      padding: 12px 12px;
      border-radius: 10px;
      position: relative;
      color: #fff;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .text:before {
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent;
      position: absolute;
      top: -17px;
      content: "";
    }
  }

  .comment:nth-child(even) {
    address {
      text-align: right;
      margin-right: 45px;
    }

    .text {
      background: #c93c00;
    }

    .text:before {
      right: 20px;
      border-bottom-color: #c93c00;
      border-right: 20px solid transparent;
      -webkit-transform: rotate(-15deg);
      -moz-transform: rotate(-15deg);
    }
  }

  .comment:nth-child(odd) {
    address {
      text-align: left;
      margin-left: 45px;
    }

    .text {
      background: #730046;
    }

    .text:before {
      left: 20px;
      border-bottom-color: #730046;
      border-left: 20px solid transparent;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
    }
  }
}

