.topbar .sign_in:link, .topbar .sign_in:visited {
  padding-left: 36px;
  background-position: 10px 8px;
}

aside .sign_in {
  margin-bottom: 8px;
}

.sign_in:link, .sign_in:visited {
  background-position: 3px 0;
  background-repeat: no-repeat;
  padding-left: 29px;
  display: block;
  height: 22px;
  font-size: 14px;
}

.twitter {
  background-image: url(/assets/buttons/signin_twitter.png);
}

.facebook {
  background-image: url(/assets/buttons/signin_facebook.png);
}

.google {
  background-image: url(/assets/buttons/signin_google.png);
}
