header .sign_in {
  float: right;
  margin: 0 0 0 10px;
  text-align: left;
}

aside .sign_in {
  margin-bottom: 8px;
}

.sign_in:link, .sign_in:visited {
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 26px;
  display: block;
  height: 22px;
  width: 150px;
  font-size: 14px;
}

.sign_in:hover {
}

.twitter {
  background-image: url(/assets/buttons/signin_twitter.png);
}

.facebook {
  background-image: url(/assets/buttons/signin_facebook.png);
}

.google {
  background-image: url(/assets/buttons/signin_google.png);
}
