#invites, #my_events {
  width: 400px;
}

ol .event, ul .event {
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 12px;
  color: #fff;
  position: relative;
  list-style-type: none;

  a:link, a:visited {
    color: #ffc200;
  }

  .metadata {
    font-size: 13px;
    margin-right: 8px;
  }

  .slots {
    position: absolute;
    font-size: 13px;
    margin-right: 0;
    top: 12px;
    right: 12px;
  }

  .confirm, .decline {
    font-size: 14px !important;
  }

  .confirm:after, .metadata:after {
    content: "•";
    padding: 0 3px 0 8px;
    text-decoration: none;
  }

  time.metadata {
    margin-left: -6px;
  }

  time.metadata:after {
    display: none;
  }
}

ol .event:nth-child(even), ul .event:nth-child(even) {
  background: #c93c00;

  .confirm:after, .metadata:after {
    color: #730046;
  }
}

ol .event:nth-child(odd), ul .event:nth-child(odd) {
  background: #730046;

  .confirm:after, .metadata:after {
    color: #c93c00;
  }
}

#public_events {
  float: right;
  width: 400px;
}
