#event .span8 {
  width: 440px;
}

#title {
  margin-bottom: 0;
  padding-bottom: 0;

  .tagline {
    line-height: 24px;
  }
}

#event h1 {
  padding: 0;
  margin-bottom: 0;
}

.admin_actions {
  font-size: 13px;
  line-height: 18px;
  margin: 17px 0 0;
  padding: 0;
  text-align: right;
  text-transform: lowercase;

  span:after {
    content: "•";
    padding: 0 3px 0 8px;
    color: #999;
    text-decoration: none;
  }

  span:last-child:after {
    display: none;
  }

  &:after {
    clear: both;
  }
}

#description {
  color: #333;
  text-shadow: 1px 1px #eee;
}

.organizer {
  margin: 0;
  text-align: right;
  font-style: normal;
  color: #000;
  font-weight: bold;
  line-height: 24px;

  span {
    color: #999;
    font-weight: normal;
    text-transform: lowercase;
  }

  .avatar {
    top: 5px;
    margin-left: 4px;
  }
}

/****************************************
 *  Time and Date sidebar               *
 ****************************************/

#time_and_space {
  .start_time, .location {
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px #c6edf9;
    margin-bottom: 3px;
  }

  .location {
    margin-top: 18px;
    line-height: 16px;
  }

  .city {
    line-height: 13px;
  }
}

/****************************************
 *  RSVP                                *
 ****************************************/

#rsvp {
  h3 {
    display: inline-block;
    position: relative;
    top: 3px;
    line-height: 28px;
    margin-right: 8px;
  }

  .disabled {
    opacity: 0.2;
  }
}

/****************************************
 *  Calendar Feeds                      *
 ****************************************/

#feeds {
  background: none;
  text-align: left;
  border-radius: 0;
  color: #999;
  margin-bottom: 18px;
}

#feeds a {
  margin-right: 8px;
}

#feeds a:first-child {
  margin-left: 5px;
}

/****************************************
 *  Guest lists                         *
 ****************************************/

#event .guests h3 {
  line-height: 18px;
  margin-bottom: 6px;
  padding: 0;
}

#event .guests ul, #event .guests ol {
  margin: 0;
}
