#error_for_event_name {
  min-width: 152px;
}

#error_for_event_start_at {
  min-width: 152px;
}

.attendee_quota_field {
  input {
    width: auto;
  }

  label {
    display: inline;
  }
}

#end_at_container, #start_at_container {
  label {
    width: 50px;
  }

  .date {
    width: 85px;
    margin-right: 5px;
    float: left;
  }

  .toggle {
    float: right;
  }

  &.hidden .toggle {
    margin-top: 24px;
    width: 100%;
    text-align: center;
  }
}
