#error_for_event_name {
  min-width: 152px;
}

#error_for_event_start_at {
  min-width: 152px;
}

.attendee_quota_field {
  input {
    width: auto;
  }

  label {
    display: inline;
  }
}

#end_at_container, #start_at_container {
  label {
    width: 50px;
  }

  .date {
    width: 85px;
    margin-right: 5px;
    float: left;
  }

  .toggle {
    font-size: 14px;
    float: right;
    color: #999;

    &:hover, &:active {
      color: #666;
    }
  }

  &.hidden .toggle {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    color: #730046;

    &:hover, &:active {
      color: #c93c00;
    }
  }
}
