form {
  padding-right: 10px;
}

fieldset {
  padding-bottom: 0;
  margin-bottom: 0;
}

.form_field {
  margin: 18px 0;
  @extend .clearfix;
}

.actions {
  margin-bottom: -18px;
}

input[type=text], input[type=password], textarea, select, .uneditable-input{
  width: 400px;
}

textarea {
  max-height: 72px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.double_feature {
  .form_field {
    float: left;
    width: 200px;
    margin-right: 9px;
    padding-right: 10px;
  }

  .help-block {
    clear: both;
  }
}
