.form_field, .submit_button {
  position: relative;
  width: 400px;
  margin-top: 24px;
}

.double_feature .form_field {
  float: left;
  width: 195px;

  &:first-child {
    margin-right: 5px;
  }

  &:last-child {
    margin-left: 5px;
  }
}

.double_feature:after {
  display: table;
  content: "";
  clear: both;
}

.field_with_errors input {
  border: 1px solid #b21515;
  background: #fee;
}

label {
  position: relative;
  display: block;
  line-height: 24px;
  height: 24px;
  width: 100%;
}

.errors {
  display: block;
  position: absolute;
  left: 70%;
  bottom: -35px;
  z-index: 2;
  background: #b21515;
  color: #f8f8f8;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 14px;
}

.errors:first-letter {
  /* don't want to capitalize every word */
  text-transform: capitalize;
}

.errors:after {
  position: absolute;
  top: -10px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin-top: 2px;
  border-left: 6px solid #fff;
  border-right: 6px solid #fff;
  border-bottom: 8px solid #b21515;
}

input, textarea {
  width: 100%;
  padding: 4px 5px 0;
  font-family: Actor, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

input[type=checkbox] {
  float: left;
  width: auto;
  position: relative;
  top: 2px;
}

textarea {
  height: 72px;
}

button[type=submit] {
}
