fieldset {
  padding-bottom: 0;
  margin-bottom: 0;
}

.form_field {
  margin: 18px 0;
  @extend .clearfix;
}

.actions {
  margin-bottom: -18px;
}

input[type=text], input[type=password], textarea, select, .uneditable-input{
  width: 400px;
}

textarea {
  max-height: 72px;
}

.double_feature {
  margin-top: -18px;

  .form_field {
    float: left;
    margin-right: 19px;
  }
}
