h1.greetings {
  padding: 10px 0 6px;
  line-height: 32px;
  color: #c93c00;
  text-shadow: 1px 1px #ccc;
  text-size: 2em;
}

#organize_an_event a {
  padding: 10px;
  font-size: 2em;
}

#organize_an_event a:hover {
  text-decoration: none;
}

#welcome {
  ul {
    li {
      margin-top: 15px;
    }
  }
}
