#marketing {
  padding-top: 0;
}

#marketing .topbar {
  .container {
    position: relative;
  }

  .fill {
    height: 330px;
  }

  .blurb {
    position: absolute;
    top: 30px;
    right: 420px;
    line-height: 36px;
    font-size: 22px;
    font-weight: bold;
    color: #BEBEBE;
    text-shadow: 1px 1px rgba(32, 32, 32, 0.5);

    b {
      color: #bfbb11;
    }
  }
}

#marketing #logo {
  height: 273px;
  line-height: 273px;
  width: 900px;
  margin: 0;

  a {
    display: block;
    height: auto;
    width: auto;
    background-image: url(/assets/logo-marketing.png);
    margin-left: -10px;
  }

  a:hover {
    background-color: transparent;
  }
}

#marketing #sign_in {
  margin-right: 40px;
}

#marketing .sign_in {
  line-height: 18px;
  height: 18px;
}

#marketing #features {
  margin-top: 350px;
}

#marketing #features aside {
  background: #fefefe;
  width: 440px;
  min-height: 54px;
  padding: 74px 10px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px #ccc;
  -moz-box-shadow: 1px 1px 7px #ccc;
  -webkit-box-shadow: 1px 1px 7px #ccc;
  background-repeat: repeat-x;
  background-position: 0 10px;
  -webkit-transition: background-position 0.5s ease-out;
  -moz-transition: background-position 0.5s ease-out;
}

#marketing #features .waiting_list {
  background-image: url(/assets/banners/feature-waitlist.png);
}

#marketing #features .social_logins {
  background-image: url(/assets/banners/feature-accounts.png);
}

#marketing #features .public_events {
  background-image: url(/assets/banners/feature-public-events.png);
}

#marketing #features .private_events {
  background-image: url(/assets/banners/feature-private-events.png);
}

#marketing footer {
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
