.modal-overlay {
  background: rgba(25%, 25%, 25%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10500;
  display: none;
}

.modal {
  z-index: 10600;
}

.modal .error.help-inline {
  display: block;
  margin-top: 6px;
  padding-left: 0;
}

.modal ul {
  margin-left: 0;
}

.modal ul .attendance {
  margin-right: 12px;
}

.modal ul .attendance:nth-child(7n) {
  margin-right: 0;
}

form.modal {
  padding: 0;
  margin-bottom: 0;
}

form.modal .form_field:first-child {
  margin-top: 0;
}
