#modal_window {
  display: block;
  width: 560px;
  position: absolute;
  top: -400px;
  left: 370px;
  border: solid 1px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
  padding: 50px;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -webkit-transform: translateY(0);
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}

#modal_window.show {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -webkit-transform: translateY(400px);
  opacity: 1.0;
  z-index: 100;
  -webkit-transition-duration: 0.25s;
}
