#modal_window {
  display: block;
  width: 560px;
  position: absolute;
  top: -400px;
  left: 50%;
  margin-left: -280px;
  border: solid 1px #bfbb11;
  padding: 50px;
  background: #bfbb11 url(/assets/backgrounds/green-aside.png);

  -webkit-transition: -webkit-transform 0.25s ease-out;
  -webkit-transform: translateY(0);

  -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}

#modal_window.show {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -webkit-transform: translateY(400px);
  opacity: 1.0;
  z-index: 100;
  -webkit-transition-duration: 0.25s;
}

body #modal_window h1 {
  color: #730046;
  text-shadow: 1px 1px #9d9900;
}
