#notifications a.menu {
  padding: 8px;

  span {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #666;
    color: #888;
    background: #444;
  }

  &.has_notifications span {
    background: #c93c00;
    border-color: #eb5e22;
    color: #fff;
  }

  &:after {
    display: none;
    margin: 0;
  }
}

#notifications .menu-dropdown {
  width: 440px;
  max-width: 440px;
}

#notifications li {
  position: relative;

  .title {
    font-size: 16px;
    line-height: 24px;
    color: #cc9000;
  }

  &:hover .title {
    color: #ffc200;
  }

  .where:after {
    content: "•";
    margin-left: 10px;
    color: #666;
    text-shadow: -1px -1px 1px #222;
  }

  &:hover .where:after {
    color: #999;
    text-shadow-color: #555;
  }

  .metadata {
    display: inline;
    margin-right: 8px;
  }

  .slots {
    position: absolute;
    top: 11px;
    right: 13px;
    padding: 4px 8px;
    cursor: pointer;
  }

  &.placeholder a {
    cursor: default;

    &:hover {
      background-color: #333;
      color: #bfbfbf;
    }
  }
}
