#rally_badge {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  display: block;
  height: 150px;
  width: 150px;
  background: url(/assets/rally_badge.png) no-repeat;
}
