/* ============================== */
/* ! Colors                       */
/* ============================== */

$gold: #ffc200;

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
  div#modal_window {
    display: block;
    width: 560px;
    position: absolute;
    top: -400px;
    left: 370px;
    border: solid 1px #999;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
    padding: 50px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    -webkit-transform: translateY(0);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  }

  div#modal_window.show {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    -webkit-transform: translateY(400px);
    opacity: 1.0;
    z-index: 100;
    -webkit-transition-duration: 0.25s;
  }

  body {
    background: #f8f8f8 url(/assets/backgrounds/page.png);
    font-family: Actor, sans-serif;
  }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {
  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}
