/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
  body {
    background: #f8f8f8 url(/assets/backgrounds/page.png);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .row {
    width: 960px;
  }

  #main {
    margin-top: 24px;
    margin-left: 140px;
  }

  #main h1 {
    padding: 10px 0 6px;
    line-height: 32px;
    color: #c93c00;
    text-shadow: 1px 1px #ccc;
  }

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: #730046;
  }

  a:hover, a:active {
    color: #c93c00;
    text-decoration: underline;
  }

  .avatar.tiny {
    height: 20px;
    width: 20px;
    padding: 1px;
    border: 1px solid #ccc;
    position: relative;
    top: 4px;
  }

  .avatar.medium {
    height: 48px;
    width: 48px;
    padding: 1px;
    border: 1px solid #ccc;
    position: relative;
    top: 4px;
  }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {
  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}
