/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
  body {
    background: #f8f8f8 url(/assets/backgrounds/page.png);
    font-family: Actor, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .row {
    width: 960px;
  }

  #main {
    margin-top: 24px;
    margin-left: 140px;
  }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {
  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}
