h1 .edit {
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
  float: right;
  text-decoration: underline;
  text-transform: lowercase;
}

#info_short, .organizer {
  margin-bottom: 12px;
}

.organizer {
  margin-right: 5px;
  float: right;
  font-style: normal;
  color: #000;
  font-weight: bold;
  position: relative;
  bottom: 6px;
}

.organizer span {
  font-size: 14px;
  color: #999;
  font-weight: normal;
  text-transform: lowercase;
}

#left_column {
  float: left;
  width: 400px;
}

/****************************************
 *  Time and Date aside                 *
 ****************************************/

#time_and_space {
  padding-bottom: 18px;
}

.start_time, .location {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #730046;
  text-shadow: 1px 1px #991;
}

.end_time, .city {
  font-size: 13px;
  position: relative;
  bottom: 3px;
}

.location {
  margin-top: 18px;
}

/****************************************
 *  Feeds                               *
 ****************************************/

#feeds {
  background: none;
  padding: 0 20px;
  text-align: left;
  border-radius: 0;
  color: #999;
}

#feeds a {
  margin-right: 8px;
}

#feeds a:first-child {
  margin-left: 5px;
}

/****************************************
 *  Action buttons                      *
 ****************************************/

#actions {
  background: none;
  padding: 0;
  width: 380px;
  text-align: left;
  border-radius: 0;
}

#actions * {
  display: block;
  float: left;
  background: #ffc200;
  width: 190px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  color: #fff;
}

#actions .disabled {
  color: #ccc;
  cursor: default;
  text-shadow: -1px -1px #666;
}

#actions .decline {
  background: #b21515;
  background: -moz-linear-gradient(top, #900303 0%, #a11414 50%, #900303 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#900303), color-stop(50%,#a11414), color-stop(100%,#900303)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #900303 0%,#a11414 50%,#900303 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #900303 0%,#a11414 50%,#900303 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #900303 0%,#a11414 50%,#900303 100%); /* IE10+ */
  background: linear-gradient(top, #900303 0%,#a11414 50%,#900303 100%); /* W3C */

  -moz-box-shadow: inset 3px 3px 6px #c32626, inset -3px -3px 6px #600;
  -webkit-box-shadow: inset 3px 3px 6px #c32626, inset -3px -3px 6px #600;
  box-shadow: inset 3px 3px 6px #c32626, inset -3px -3px 6px #600;

  border-radius: 0 9px 9px 0;
  text-shadow: 2px 2px #900303;
}

#actions .decline.disabled {
  text-shadow: -2px -2px #900303;
  background: #900303;

  -moz-box-shadow: inset -3px -3px 6px #c32626, inset 6px 6px 12px #600;
  -webkit-box-shadow: inset -3px -3px 6px #c32626, inset 6px 6px 12px #600;
  box-shadow: inset -3px -3px 6px #c32626, inset 6px 6px 12px #600;
}

#actions .confirm {
  background: #3b7c0f;
  background: -moz-linear-gradient(top, #3b7c0f 0%, #4c8d1f 50%, #3b7c0f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b7c0f), color-stop(50%,#4c8d1f), color-stop(100%,#3b7c0f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3b7c0f 0%,#4c8d1f 50%,#3b7c0f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3b7c0f 0%,#4c8d1f 50%,#3b7c0f 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #3b7c0f 0%,#4c8d1f 50%,#3b7c0f 100%); /* IE10+ */
  background: linear-gradient(top, #3b7c0f 0%,#4c8d1f 50%,#3b7c0f 100%); /* W3C */

  -moz-box-shadow: inset 3px 3px 6px #4c8d1f, inset -3px -3px 6px #060;
  -webkit-box-shadow: inset 3px 3px 6px #4c8d1f, inset -3px -3px 6px #060;
  box-shadow: inset 3px 3px 6px #4c8d1f, inset -3px -3px 6px #060;

  border-radius: 9px 0 0 9px;
  text-shadow: 2px 2px #195a0d;
}

#actions .confirm.disabled {
  text-shadow: -2px -2px #195a0d;

  -moz-box-shadow: inset -3px -3px 6px #4c8d1f, inset 3px 3px 6px #060;
  -webkit-box-shadow: inset -3px -3px 6px #4c8d1f, inset 3px 3px 6px #060;
  box-shadow: inset -3px -3px 6px #4c8d1f, inset 3px 3px 6px #060;
}
