- notifications = current_user.attendances.need_attention.includes(:event)
= link_to t("notifications.link", :amount => notifications.size), "#", :id => "notifications_link"
%ol#notifications
  - notifications.each do |attendance|
    %li
      - if attendance.need_action?
        = render :partial => "shared/actionable_attendance", :locals => { :attendance => attendance }
      - else
        = render :partial => "shared/commented_attendance", :locals => { :attendance => attendance }
