- notifications = current_user.attendances.need_attention.includes(:event)
= link_to t("notifications.link", :amount => notifications.size), "#", :id => "notifications_link", :class => (notifications.any? ? "has_notifications" : "no_notifications")
#notifications
  .holding_box
    %ol
      - notifications.each do |attendance|
        %li
          - if attendance.need_action?
            = render :partial => "attendances/as_event", :locals => { :attendance => attendance }
          - else
            = render :partial => "shared/commented_attendance", :locals => { :attendance => attendance }
