- manager = local_assigns.fetch(:manager, false)

- if attendance.confirmed? || attendance.waitlisted?
  = disabled_confirm_button(attendance, manager)
- else
  = confirm_button(attendance, manager)

- if attendance.declined?
  = disabled_decline_button(attendance, manager)
- else
  = decline_button(attendance, manager)
