%section#invitations
  = render "invitation_box", invitations: invitations, f: f
  %p.explanation= t(".explanation", count: @event.attendee_quota)

- content_for :javascript do
  :javascript
    new A8.Views.Events.InvitationInformation({
      model: current_page.event,
      el: $("#invitations p"),
      many:  #{t(".explanation", count: "%many%").to_json},
      one:   #{t(".explanation", count: 1).to_json},
    }).render();
