- manager = local_assigns.fetch(:manager, false)

- if rsvp.positive?
  = disabled_confirm_button(rsvp, manager)
- else
  = confirm_button(rsvp, manager)

- if rsvp.negative?
  = disabled_decline_button(rsvp, manager)
- else
  = decline_button(rsvp, manager)
