%h1= t('event.everyone.title')

- @attendances.each do |attendance|
  = render attendance

  - if current_user == attendance.event.host
    .actions.host_actions
      - unless attendance.confirmed?
        = link_to (attendance.event.slots_available? ? t("event.host_actions.confirm.slots_available") : t("event.host_actions.confirm.no_slots_available")), event_attendance_path(attendance.event, :attendance_id => attendance.id), :method => :post
      - unless attendance.declined?
        = link_to t("event.host_actions.decline"), event_attendance_path(attendance.event, :attendance_id => attendance.id), :method => :delete
