#features.container
  .row
    %aside.span8.waiting_list= raw t(".features.waiting_list")
    %aside.span8.public_events= raw t(".features.public_events")
  .row
    %aside.span8.social_logins= raw t(".features.social_logins")
    %aside.span8.private_events= raw t(".features.private_events")
