%h1 Términos y condiciones de uso

%section
  %h3 Protección de los datos personales

  %p
    La información y/o datos que voluntariamente nos facilite a través de nuestra web o a través de los servicios a los que acceda, o de las promociones en las que participe, podrán ser incorporados a la base de datos titularidad de A Las Ocho con la finalidad de realizar la gestión y el mantenimiento de los datos para poder utilizarlos en el juego, a su vez para poder enviarle información sobre nuestros productos, boletines de noticias, publicidad, así como nuevas ofertas, promociones o concursos o para la realización de estudios de mercado o estadísticos.

  %h3 Derechos de acceso

  %p
    Ningún tercero ajeno a A Las Ocho, salvo los supuestos amparados por la legislación vigente, tendrá acceso a la información y/o datos personales de los usuarios de nuestra web. En ningún caso A Las Ocho cederá a terceros datos personales de menores que accedan al portal.

  %h3 Cookies

  %p
    Con la intención de poder ofrecer un servicio personalizado y un trato preferencial, será necesario tener habilitadas las cookies para poder utilizar todos los servicios que brinda A Las Ocho. En ningún caso estos elementos servirán para identificar a una persona concreta, ya que su uso será meramente técnico, para ofrecer un mejor servicio a los usuarios y permitir la realización de contenidos avanzados. Estas cookies no servirán para la realización de estudios comerciales ni darán información acerca de los hábitos de navegación de los usuarios. El usuario podrá deshabilitar el uso de cookies a través de las opciones de su navegador, si bien A Las Ocho no podrá garantizar en este caso el correcto funcionamiento de todos los servicios ofrecidos en esta Web.

  %h3 Comunicaciones comerciales no solicitadas.

  %p
    A Las Ocho no enviará comunicaciones publicitarias ni promocionales a través del e-mail, u otro medio de comunicación electrónico equivalente, si previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas. Lo dispuesto en el apartado anterior no será de aplicación cuando exista una relación contractual previa y se hubieran obtenido los datos de contacto del destinatario con el consentimiento expreso del mismo.
  Aviso Legal sobre propiedad intelectual e industrial

  %p
    Esta web incluye contenidos, textos, documentos, material publicitario, dibujos, material técnico de productos o de cualquier otro orden, bases de datos, sonidos, programas de software, distintivos corporativos, signos distintivos, marcas, diseños gráficos, combinaciones de elementos, logotipos e imágenes, que están protegidos por derechos de propiedad intelectual o industrial de los que A Las Ocho es titular o legítima licenciataria. En este sentido, queda terminantemente prohibida la reproducción total o parcial, comunicación pública, modificación, transformación, copia, distribución, o cualquier otra forma de explotación y manipulación de esta web, de sus dispositivos técnicos, contenidos, aplicaciones, códigos fuente, diseño, selección y forma de presentación de los materiales y, en general, respecto de la información contenida en esta web. Queda, asimismo, prohibido descomponer, realizar ingeniería inversiva o, en general, transmitir de cualquier modo o realizar obras derivadas de los programas de ordenador necesarios para el funcionamiento y acceso de este sitio web y de los servicios aquí contenidos, así como realizar, respecto de los mismos cualquier acto de explotación.

  %h3 Email de contacto

  = mail_to "hola@alasocho.com"
