/*
 *= require      bootstrap-1.1.1.min
 *= require      jquery-ui/ui-lightness/jquery-ui
 *= require_self
 *= require_tree ./styles
*/

body {
  background: #f8f8f8 url(/assets/backgrounds/page.png);
  padding-top: 67px;
}

#logo a {
  width: 150px;
  text-indent: -9999em;
  background-image: url(/assets/logo-header.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.row {
  width: 960px;
}

#main {
  margin-top: 24px;
  margin-left: 140px;
}

#main h1 {
  padding: 10px 0 6px;
  line-height: 32px;
  color: #c93c00;
  text-shadow: 1px 1px #ccc;
}

#main h2 {
  padding: 10px 0 6px;
  line-height: 24px;
  color: #c93c00;
  text-shadow: 1px 1px #ccc;
}

#main aside h2 {
  padding: 0;
}

#user_menu {
  a.menu {
    padding-left: 42px;
  }

  .avatar {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 20px;
  }
}

.avatar.inline {
  height: 15px;
  width:  15px;
  padding: 1px;
  border: 1px solid #666;
  position: relative;
  top: 2px;
}

.avatar.tiny {
  height: 20px;
  width: 20px;
  padding: 1px;
  border: 1px solid #ccc;
  position: relative;
  top: 4px;
}

.avatar.medium {
  height: 48px;
  width: 48px;
  padding: 1px;
  border: 1px solid #ccc;
  position: relative;
  top: 4px;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 40px;
  padding: 40px;
  border-top: 1px solid #ccc;
}

footer a {
  margin-right: 10px;
}

footer a:last-child {
  margin-right: 0;
}
